* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body {
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #1a0030;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 40px;
}

.hero .content {
    max-width: 400px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
    color: #555;
}

.hero img {
    width: 300px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,01);
}

.cta {
    display: inline-block;
    background-color: #1a0030;
    color: #fff;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.cta:hover {
    background-color: #e65c00;
    transform:scale(1.2);
    margin-left: 20px;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    color: #999;
    font-size: 0.9rem;
    border-top: 1px solid #eee;
}

.beneficios {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.beneficios h2 {
  font-size: 2em;
  margin-bottom: 40px;
  color: #333;
}

.beneficios-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.beneficio {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.beneficio:hover {
  transform: translateY(-15px);
}

.beneficio img {
  width: 60px;
  margin-bottom: 15px;
}

.beneficio h3 {
  color: #1a0030;
  margin-bottom: 10px;
}

.beneficio p {
  color: #555;
  font-size: 0.95em;
}

.ben {
    margin-left: 223px;
    padding-bottom: 20px;
}

